body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #2176FF;

}

.navigation {
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
}

.btn,
.nav-link {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 14px;
    margin: 0px 16px;
}

.btn:focus,
.nav-link:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover,
.nav-link:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-4px);
}

.btn:active,
.nav-link:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(6px);
}

a:hover {
    text-decoration: none;
}

.banner {
    display: flex;
    background-image: url('/banner_bg.jpg');
    height: 650px;
    width: 100%;
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    margin: 20px auto;
    font-size: 46px;
    color: white;
    text-align: center;
}

.banner-text h1,
h2 {
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
}

.content {
    margin-top: 60px;
    background-image: url('./content_bg.jpg');
    background-color: rgba(255, 255, 255, 0.61);
    background-blend-mode: lighten;
    text-align: center;
    padding: 60px 12%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    word-spacing: 6px;
}

h2 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.activities-panel {
    margin-top: 60px;
    background-image: url('./activities_bg.jpg');
    background-color: rgba(255, 255, 255, 0.61);
    background-blend-mode: lighten;
    text-align: center;
    padding: 60px 12%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    word-spacing: 6px;
}

.activities-panel .activitiesHeader {
    justify-content: flex-start;
    align-items: flex-start;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}